.weather-app-wrapper {
  max-width: 470px;
  margin: 5px;
}

.weather-app {
  max-width: 100%;
  box-shadow: 5px 5px 15px #bdc2dd;
  border: 5px solid #ffffff;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e4e4e1;
  background-image: linear-gradient(
    -225deg,
    #5392f0 0%,
    #b8dcff 55%,
    #6bbbff 100%
  );
}

.city {
  margin: 0;
  margin-left: 15px;
  margin-top: 20px;
  color: #ffffff;

  font-size: 40px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 3px;
}

.today {
  font-size: 15px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 3px;
  color: white;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 0px;
}

.next-hours {
  border: solid 2px white;
  box-shadow: 3px 3px 10px #bdc2dd;
  border-radius: 10px;
  padding-top: 8px;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  background: white;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ec6e4c;
  max-width: 100%;
}

.next-hours:hover {
  cursor: default;
}

.temperature {
  font-size: 50px;
  margin: 0;
  margin-left: 15px;
  color: #ec6e4c;
  font-family: "Varela Round", sans-serif;
}

.unit {
  font-size: 25px;
  margin: 0;
  margin-left: 15px;
  color: #ec6e4c;
  font-family: "Varela Round", sans-serif;
}

.separation {
  color: white;
}

.icon {
  position: absolute;
  margin-left: 180px;
  margin-top: -83px;
}

.iconCurrent {
  position: absolute;
  margin-left: 230px;
  margin-top: -55px;
}

.message {
  margin: 0;
  font-size: 30px;
  font-family: "Varela Round", sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-left: 15px;
  margin-top: 17px;
  text-transform: capitalize;
}

.humidity {
  margin: 0;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-left: 15px;
  margin-top: 7px;
  text-transform: capitalize;
}

.wind {
  margin: 0;
  font-size: 15px;
  font-family: "Varela Round", sans-serif;
  color: white;
  letter-spacing: 3px;
  margin-left: 15px;
  margin-top: 7px;
  text-transform: capitalize;
}

.input {
  box-shadow: 3px 3px 10px#bdc2dd;

  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: #77557a;
  border: solid 2px white;
  display: block;
  margin: auto;
  border-radius: 40px;
  padding: 7px;
  margin-top: 30px;
}

.welcome {
  color: white;
}

.inputPage {
  box-shadow: 3px 3px 10px #bdc2dd;
  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: #77557a;
  border: solid 2px white;
  display: block;
  margin: auto;
  border-radius: 40px;
  padding: 7px;
  margin-top: 60px;
}

.searchButton {
  display: block;
  margin: auto;
  box-shadow: 3px 3px 10px #bdc2dd;

  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: #ffffff;
  margin-top: 5px;
  max-width: 400px;
  border: solid 1px white;
  border-radius: 40px;
  padding: 9px 64px;
  background: #ec6e4c;
}

.searchButtonPage {
  display: block;
  margin: auto;
  box-shadow: 3px 3px 10px #bdc2dd;

  font-family: "Varela Round", sans-serif;
  font-size: 13px;
  color: #ffffff;
  margin-top: 5px;
  max-width: 400px;
  border: solid 1px white;
  border-radius: 40px;
  padding: 9px 64px;
  background: #ec6e4c;
}

.myLocation {
  font-size: 13px;
  font-family: "Varela Round", sans-serif;
  border: solid 1px white;
  max-width: 100%;
  border-radius: 40px;
  box-shadow: 3px 3px 10px #bdc2dd;
  background: #1b84ff;
  color: white;
  margin-top: 25px;

  padding: 9px 33px;
  display: block;
  margin: auto;
}

.myLocationPage {
  font-size: 13px;
  font-family: "Varela Round", sans-serif;
  border: solid 1px white;
  max-width: 100%;
  border-radius: 40px;
  box-shadow: 3px 3px 10px #bdc2dd;
  background: #1b84ff;
  color: white;
  margin-top: 25px;
  padding: 9px 33px;
  display: block;
  margin: auto;
}

.or {
  font-size: 15px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 3px;
  color: #32333e;
  margin-bottom: 20px;

  margin-top: 0px;
}

.orPage {
  font-size: 15px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 3px;
  color: #32333e;
  margin-bottom: 20px;

  margin-top: 0px;
}

.open-source {
  font-family: "Varela Round", sans-serif;
  margin-left: 35px;

  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.open-source:hover {
  color: #ec4513;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-left: 35px;
}

.website {
  font-family: "Varela Round", sans-serif;

  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.website:hover {
  color: #ec4513;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.weather-app-wrapper-page {
  max-width: 470px 602px;
  margin: 15px;
}
